<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <!--<%#= f.label :email %><br />-->
    <p>新規会員登録はこちら</p><br />
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
    <%= f.submit t 'helpers.submit.create', class: "actions" %>
  </div>
<% end %>