.form-table {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 11px;
}

.table { margin-top: 10px; width: 100%; }
.table th, td { padding: 10px; border: 1px solid #ddd; }
.table th { background: #FFCC66; width: 30%; text-align: left; }

@media only screen and (max-width:480px) {
	.table { margin: 0 -10px; }
	.table th,
	.table td {
		width: 100%;
		display: block;
		border-top: none;
	}
	.table tr:first-child th {border-top: 1px solid #ddd; }
}